<h1>Modal</h1>
<span class="">x</span>


<!-- <script type="text/ng-template" id="myModalContent.html"> -->
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Title</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <h3>Body</h3>
        <p>Bring countries list from REST</p>
        <p>Upon selecting country from list bring details into parent from REST as well</p>
        <p><a href="https://angular-ui.github.io/bootstrap/#!#modal">UI Router resolves</a>
                If one wants to have the modal resolve using UI Router's pre-1.0 resolve mechanism, one can call $uibResolve.setResolver('$resolve') in the configuration phase of the application. One can also provide a custom resolver as well, as long as the signature conforms to UI Router's $resolve.
                When the modal is opened with a controller, a $resolve object is exposed on the template with the resolved values from the resolve object. If using the component option, see details on how to access this object in component section of the modal documentation.
        </p>
        <ul>
            <li ng-repeat="item in $ctrl.items">
                <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ $ctrl.selected.item }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
<!-- </script> -->