<h1>Shopping</h1>
    default controllerAs: '$ctrl'
<!-- <button ng-click="$ctrl.showState()">$rootScope State</button> -->
<button class="btn btn-primary" ng-click="shopping.showState()">$rootScope State</button>
<button class="btn btn-primary" ng-click="shopping.setState({name: 'David Shams'})">setState</button>
<button class="btn btn-primary" ng-click="shopping.getState('name')">getState</button>
    
<a href="https://stackoverflow.com/questions/38860161/using-typescript-and-object-assign-gives-me-an-error-property-assign-does-no">Object.assign in TypeScript</a>
